*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    background-color: rgba(153, 43, 226, 0.418);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    width: 400px;
}
.radio{
    display: flex;
    flex-direction: row;
 }

 label{
    font-size: 25px;
 }
div input .bntradio{
    padding-left: 0px;

}
div input{

    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 15px;
    width: 100%;
}
.button{
    text-align: center;
    
}
.btn{
    background-color: rgb(226, 208, 43);
    font-size: 15px;
    width: 25%;
    padding: 5px;
    border: 1px solid black;
}
a{
    background-color: brown;
    color: beige;
    font-size: 16px;
    width: 25%;
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid black;
}
.btnLINK{
    padding: 4px 30px 4.9px 30px;
}
h1{
    font-size: 40px;
    text-align: center;
}